@font-face {
  font-family: NunitoSans10ptCondensed;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("@fonts/NunitoSans10ptCondensed-Regular.woff2") format("woff2"),
    url("@fonts/NunitoSans10ptCondensed-Regular.woff") format("woff");
}

@font-face {
  font-family: NunitoSans10ptCondensed;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url("@fonts/NunitoSans10ptCondensed-SemiBoldItalic.woff2") format("woff2"),
    url("@fonts/NunitoSans10ptCondensed-SemiBold.woff") format("woff");
}

@font-face {
  font-family: NunitoSans10ptCondensed;
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src:
    url("@fonts/NunitoSans10ptCondensed-SemiBoldItalic.woff2") format("woff2"),
    url("@fonts/NunitoSans10ptCondensed-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: NunitoSans10ptCondensed;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url("@fonts/NunitoSans10ptCondensed-ExtraBold.woff2") format("woff2"),
    url("@fonts/NunitoSans10ptCondensed-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: NunitoSans10ptCondensed;
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src:
    url("@fonts/NunitoSans10ptCondensed-ExtraBoldItalic.woff2") format("woff2"),
    url("@fonts/NunitoSans10ptCondensed-ExtraBoldItalic.woff") format("woff");
}
