$font-family: "NunitoSans10ptCondensed", sans-serif;
$font-size: 14px;
$font-weight: 600;
$font-line-height: 150%;

// $color-text-dark: #333;

$color-text-dark: #f4f4f4;
$color-background-body: black;
$main-background-color: $color-background-body;

@mixin margin-bottom40 {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

@mixin margin-bottom20 {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
